<table class="table table-bordered">
  <tr>
    <td>id</td>
    <td>id_user</td>
    <td>content</td>
    <td>datetime</td>
    <td>location</td>
  </tr>
  <% @posts.each do |post| %>
      <tr>
        <td><%= post[:id] %></td>
        <td><%= post[:id_user] %></td>
        <td><%= post[:content] %></td>
        <td><%= post[:datetime] %></td>
        <td><%= post[:location] %></td>
      </tr>
  <% end %>
</table>
<table class="table table-bordered">
  <tr>
    <td>id</td>
    <td>username</td>
    <td>password</td>
    <td>email</td>
    <td>bio</td>
    <td>recov_pass</td>
    <td>image</td>
  </tr>
  <% @users.each do |user| %>
      <tr>
        <td><%= user[:id] %></td>
        <td><%= user[:username] %></td>
        <td><%= user[:password] %></td>
        <td><%= user[:email] %></td>
        <td><%= user[:bio] %></td>
        <td><%= user[:recov_pass] %></td>
        <td><%= user[:image] %></td>
      </tr>
  <% end %>
</table>
<table class="table table-bordered">
  <tr>
    <td>id</td>
    <td>user_id</td>
    <td>post_id</td>
  </tr>
  <% @likes.each do |like| %>
      <tr>
        <td><%= like[:id] %></td>
        <td><%= like[:user_id] %></td>
        <td><%= like[:post_id] %></td>
      </tr>
  <% end %>
</table>