<!DOCTYPE html>
<html>
  <head>
    <%=favicon_link_tag%>
    <title>TimelineDinamica</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="jumbotron text-center">
      <h1><a href="/home">Tuiter</a></h1>
      <p>1º Etapa do processo de Estágio - Desenvolvimento de Aplicação</p>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
